<template>
	<v-container>
		<v-app-bar app color="#64FFDA" dark>
			<v-col>
				<v-toolbar-title @click="moveHome()">
					<a style="color: #FFFFFF;">ユーザー管理システム  EXAM</a>
				</v-toolbar-title>
			</v-col>
			<v-spacer/>
			<v-col>
				<v-spacer/>
				<v-col v-if="AuthLoginFlg" class="text-right">
					<span style="color: deepskyblue; margin-right: 50px; font-size: small;"
					>
						ログイン中：{{ login_info_param.user_id }}
					</span>
					<v-btn color="red" dark @click="onLogout">Logout</v-btn>
				</v-col>
				<v-col v-else class="text-right">
					<v-btn color="success" dark @click="onLoginWindow">Login</v-btn>
				</v-col>
			</v-col>
		</v-app-bar>
		<v-overlay :value="LoginOverRayFlg">
			<v-btn
				icon
				@click="offLoginWindow"
			>
				<v-icon>mdi-close</v-icon>
			</v-btn>
			<login/>
		</v-overlay>
	</v-container>
</template>

<script>
	import { mapActions, mapState } from 'vuex';
	import Login from '../page/Login';
	import ActionMixin from "./ActionMixin";
	export default {
		name: 'Header',
		mixins: [ ActionMixin ],
		components: {
			Login
		},
		props: {
			msg: String
		},
		data() {
			return {
				overlay: false
			}
		},
		computed: {
			...mapState ('auth', [
				'AuthLoginFlg', 'LoginOverRayFlg', 'login_info_param'
			])
		},
		methods: {
			...mapActions('auth', [
				'userLogout', 'onOverRayFlg', 'offOverRayFlg', 'setLoginMessage'
			]),
			onLogout: function () {
				if (this.$route.path !== '/') {
					this.movePage('/');
				}
				this.userLogout();
			},
			onLoginWindow: function () {
				this.onOverRayFlg();
			},
			offLoginWindow: function () {
				this.setLoginMessage();
				this.offOverRayFlg();
			},
			moveHome: function () {
				if (this.$route.path !== '/') {
					this.movePage('/');
				}
			}
		}
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
	.header-top {
		position: fixed;
		margin-top: 0;
		background-color: aquamarine;
		height: 70px;
		padding-left: 10px;
	}
	
	a {
		font-size: 24px;
		color: #FFFFFF;
	}
	
	h3 {
		margin: 40px 0 0;
	}
	
	ul {
		display: block;
		margin: 0 auto 0 0;
	}
	
	li {
		display: inline-block;
		margin: 0 10px;
	}
</style>
