<template>
	<v-card>
		<div id="app">
			<div class="text-center">
				<v-snackbar
					v-model="snackFlg"
					:timeout="timeout"
					top
					right
					vertical
				>
					{{ text }}
					<v-btn
						color="blue"
						text
						@click="snackFlg = false"
					>
						Close
					</v-btn>
				</v-snackbar>
			</div>
		</div>
	</v-card>
</template>

<script>
	/* eslint-disable */
	export default {
		name: 'SnackMessage',
		props: {
			snackMsg: String
		},
		data() {
			return {
				timeout: 3500,
				snackFlg: false,
				color: '',
				text: ''
			}
		},
		watch: {
			snackMsg: async function (to, from) {
				console.log(to);
				console.log(from);
				if (this.text !== this.snackMsg) {
					await this.viewSnack(to);
				}
			},
			snackFlg: function (to, from) {
				if ( to === false ) {
					this.text = '';
				}
			}
		},
		methods: {
			viewSnack: async function (messageData) {
				this.text = messageData;
				this.snackFlg = true;
			}
		}
	}
</script>

<style>

</style>