<template>
  <div class="Home">
    <v-container>
      <div v-if="AuthLoginFlg">
        <v-layout justify-center>
          <h3>ようこそ {{ login_info_param.user_name }} 様</h3>
        </v-layout>
        <v-row style="margin-bottom: 20px; margin-top: 30px;">
          <v-btn
            color="#29B6F6"
            dark
            block
            @click="movePage('/add_user')">
            登録
          </v-btn>
        </v-row>
        <v-row style="margin-bottom: 20px;">
          <v-btn
            color="#29B6F6"
            dark
            block
            @click="movePage('/edit_user')">
            更新
          </v-btn>
        </v-row>
        <v-row style="margin-bottom: 20px;">
          <v-btn
            color="#29B6F6"
            dark
            block
            @click="movePage('/edit_password')">
            パスワード更新
          </v-btn>
        </v-row>
        <v-row style="margin-bottom: 20px;">
          <v-btn
            color="#29B6F6"
            dark
            block
            @click="movePage('/search_user')">
            検索
          </v-btn>
        </v-row>
        <v-row style="margin-bottom: 20px;">
          <v-btn
            color="#29B6F6"
            dark
            block
            @click="movePage('/csv_input')">
            CSVダウンロード
          </v-btn>
        </v-row>
      </div>
      <div v-else>
        <v-layout justify-center>
          <v-row>
            <v-col cols="6">
              <p style="text-align: center;">ログインをしましょう</p>
            </v-col>
            <v-col cols="6">
              <p style="text-align: center;">初めての方はこちら</p>
            </v-col>
            <v-col cols="6">
              <v-btn
                color="success"
                dark
                block
                @click="onLoginWindow">
                Login
              </v-btn>
            </v-col>
            <v-col cols="6">
              <v-btn
                color="#29B6F6"
                dark
                block
                @click="movePage('/add_user')">
                Add to USER
              </v-btn>
            </v-col>
          </v-row>
        </v-layout>
      </div>
      <v-overlay :value="LoginOverRayFlg">
        <v-btn
          icon
          @click="offLoginWindow"
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <login/>
      </v-overlay>
    </v-container>
  </div>
</template>

<script>
  import ActionMixin from "../common/ActionMixin";
  import Login from "./Login";
  import { mapActions, mapState } from "vuex";
  export default {
    name: 'UserAdd',
    mixins: [ ActionMixin ],
    components: {
      Login
    },
    props: {
      msg: String
    },
    data () {
      return {
        overlay: false,
        loginFlg: false,
        user_name: 'ログインユーザー'
      }
    },
    computed: {
      ...mapState('auth',[
        'AuthLoginFlg', 'LoginOverRayFlg', 'login_info_param'
      ])
    },
    methods: {
      ...mapActions('auth',[
        'onOverRayFlg', 'offOverRayFlg', 'setLoginMessage'
      ]),
      onLoginWindow: function () {
        this.onOverRayFlg();
      },
      offLoginWindow: function () {
        this.setLoginMessage();
        this.offOverRayFlg();
      }
    },
    created() {
      this.setLoginMessage();
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h3 {
    margin: 40px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
