<template>
	<div class="editUser">
		<v-container>
			<div v-if="AuthLoginFlg">
				<h4>ユーザー 一括登録</h4>
				<v-row>
					<v-col cols="6">
						<p style="text-align: center;">ユーザー情報を一括で登録します<br>csvファイルを選択してください</p>
					</v-col>
					<v-col cols="6">
						<v-file-input
							label="CSVファイルを選択してください"
							outlined
							accept="text/csv"
							@change="onFileInput"
						/>
					</v-col>
				</v-row>
				<v-btn
					style="margin-top: 10px; margin-bottom: 30px;"
					color="#651FFF"
					dark
					block
					@click="onBatchAdd()">
					一括登録
				</v-btn>
				<div>
					<v-data-table
						:headers="headers"
						:items="user_list"
						class="elevation-1"
					>
					</v-data-table>
				</div>
			</div>
			<div v-else>
				<h1 style="text-align: center; color: red;">UnAuthorized Page</h1>
			</div>

			<snack-message
				:snackMsg="Message"
			/>
		</v-container>
	</div>
</template>

<script>
	/* eslint-disable */
	import { mapActions, mapState } from "vuex";
	import SnackMessage from "../common/SnackMessage";
	import ActionMixin from "../common/ActionMixin";
	export default {
		name: 'InputCsv',
		mixins: [ ActionMixin ],
		props: {
			msg: String
		},
		components: {
			SnackMessage
		},
		data () {
			return {
				user_list: [],
				Message: '',
				headers: [
					{ text: "USER ID", align: "left", value: "user_id" },
					{ text: "PASSWORD", align: "left", value: "password" },
					{ text: "USER NAME", align: "left", value: "user_name" },
					{ text: "ADMIN", align: "left", value: "admin" },
				]
			}
		},
		computed: {
			...mapState('auth',[
				'AuthLoginFlg'
			])
		},
		methods: {
			...mapActions('user',[
				'serUserListParam', 'userListAdd'
			]),
			onFileInput: async function (e) {
				if (e) {
					this.createFile(e);
				}
			},
			createFile: async function (file) {
				this.snackMsgInit();
				this.user_list = [];
				let reader = new FileReader();
				const createJson = async () => {
					let lines = reader.result.split("\n");
					for (let line in lines) {
						if (lines[line] !== '') {
							let col = lines[line].split(",");
							let checkresult = await this.checkCsv_line(col);
							console.log(checkresult);
							if (checkresult === '') {
								let tmp_json = {
									'user_id': '',
									'password': '',
									'user_name': '',
									'admin': '',
								};
								// let i = 0;
								for (let c in tmp_json) {
									// コメントアウトはコンパクトパターン
									// tmp_json[c] = col[i];
									// i += 1;
									switch (c) {
										case 'user_id':
											tmp_json[c] = col[0];
											break;
										
										case 'password':
											tmp_json[c] = col[1];
											break;
										
										case 'user_name':
											tmp_json[c] = col[2];
											break;
										
										case 'admin':
											tmp_json[c] = col[3];
											break;
									}
								}
								this.user_list.push(tmp_json);
							} else {
								this.user_list = [];
								console.log(checkresult);
								this.Message = checkresult;
								break;
							}
						}
					}
				};
				reader.onload = createJson;
				reader.readAsBinaryString( file );
				console.log(this.user_list);
			},
			onBatchAdd: async function () {
				await this.snackMsgInit();
				if (this.user_list.length === 0) {
					this.Message = 'ファイルが選択されていません'
				} else {
					this.serUserListParam(this.user_list);
					let result = await this.userListAdd();
					if (result.data.result_cd === '001') {
						this.Message = '一括登録しました';
					} else {
						this.Message = result.data.message
					}
				}
			},
			snackMsgInit: async function () {
				this.Message = ''
			}
		},
		created() {
			this.snackMsgInit();
			this.user_list = [];
		}
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	h3 {
		margin: 40px 0 0;
	}
	
	ul {
		list-style-type: none;
		padding: 0;
	}
	
	li {
		display: inline-block;
		margin: 0 10px;
	}
	
	a {
		color: #42b983;
	}
</style>
