<template>
	<div class="Login">
		<v-card
			min-width="270"
			min-height="300"
		>
			<v-container>
				<v-row>
					<v-col>
						<v-text-field
							:label="login_info.user_id.label_name"
							v-model="login_info.user_id.data"
						></v-text-field>
					</v-col>
				</v-row>
				<v-row>
					<v-col>
						<v-text-field
							:label="login_info.password.label_name"
							:append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
							:type="showPassword ? 'text' : 'password'"
							v-model="login_info.password.data"
							@click:append="showPassword = !showPassword"
						></v-text-field>
					</v-col>
				</v-row>
				<v-row>
					<v-layout justify-center>
						<p style="color: red; font-size: 13px; height: 20px; text-align: center;">{{ LoginMsg }}</p>
					</v-layout>
				</v-row>
				<v-card-actions>
					<v-layout justify-center>
						<v-btn
							color="#00695C"
							dark
							outlined
							large
							@click="onLogin()">
							Login
						</v-btn>
					</v-layout>
				</v-card-actions>
			</v-container>
		</v-card>
	</div>
</template>

<script>
	/* eslint-disable */
	import { mapActions, mapState } from 'vuex';
	import SnackMessage from "../common/SnackMessage";
	import auth from "../../vuex/model/auth";
	export default {
		name: 'Login',
		props: {
			msg: String
		},
		components: {
			SnackMessage
		},
		data() {
			return {
				login_info: {
					user_id: {
						label_name: 'USER ID',
						data: ''
					},
					password: {
						label_name: 'PASSWORD',
						data: ''
					}
				},
				showPassword: false
			}
		},
		computed: {
			...mapState('auth',[
				'LoginMsg'
			])
		},
		methods: {
			...mapActions('auth',[
				'setLoginParam', 'userLogin'
			]),
			onLogin: async function () {
				await this.setLoginParam(this.login_info);
				await this.userLogin();
			}
		}
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	h3 {
		margin: 40px 0 0;
	}
	
	ul {
		list-style-type: none;
		padding: 0;
	}
	
	li {
		display: inline-block;
		margin: 0 10px;
	}
	
	a {
		color: #42b983;
	}
</style>
