<template>
	<div class="editUser">
		<v-container>
			<div v-if="AuthLoginFlg">
				<h4>パスワード更新</h4>
				<v-text-field
					:label="user_auth_info.password_old.label_name"
					:append-icon="showPassword_old ? 'mdi-eye-off' : 'mdi-eye'"
					:type="showPassword_old ? 'text' : 'password'"
					@click:append="showPassword_old = !showPassword_old"
					v-model="user_auth_info.password_old.data"
				></v-text-field>
				<v-text-field
					:label="user_auth_info.password_new.label_name"
					:append-icon="showPassword_new ? 'mdi-eye-off' : 'mdi-eye'"
					:type="showPassword_new ? 'text' : 'password'"
					@click:append="showPassword_new = !showPassword_new"
					v-model="user_auth_info.password_new.data"
				></v-text-field>
				<v-text-field
					:label="user_auth_info.password_new_2.label_name"
					:append-icon="showPassword_new2 ? 'mdi-eye-off' : 'mdi-eye'"
					:type="showPassword_new2 ? 'text' : 'password'"
					@click:append="showPassword_new2 = !showPassword_new2"
					v-model="user_auth_info.password_new_2.data"
				></v-text-field>
				<v-btn
					color="#00695C"
					dark
					large
					@click="onPasswordEdit()">
					パスワード更新
				</v-btn>
			</div>
			<div v-else>
				<h1 style="text-align: center; color: red;">UnAuthorized Page</h1>
			</div>

			<snack-message
				:snackMsg="Message"
			/>
		</v-container>
	</div>
</template>

<script>
	import {mapActions, mapState} from "vuex";
	import SnackMessage from "../common/SnackMessage";
	import ActionMixin from "../common/ActionMixin";
	export default {
		name: 'PasswordEdit',
		mixins: [ ActionMixin ],
		props: {
			msg: String
		},
		components: {
			SnackMessage
		},
		data () {
			return {
				user_auth_info: {
					password_old: {
						label_name:'OLD PASSWORD',
						data: '',
						validate: {
							check_req: true
						}
					},
					password_new: {
						label_name:'NEW PASSWORD',
						data: '',
						validate: {
							check_req: true,
							check_equal: 'password_new_2'
						}
					},
					password_new_2: {
						label_name:'NEW PASSWORD (Re-Enter)',
						data: '',
						validate: {
							check_req: true,
						}
					}
				},
				Message: '',
				showPassword_old: false,
				showPassword_new: false,
				showPassword_new2: false
			}
		},
		computed: {
			...mapState('auth',[
				'AuthLoginFlg'
			])
		},
		methods: {
			...mapActions('auth',[
				'setPassWord', 'passwordUpdate'
			]),
			onPasswordEdit: async function () {
				this.Message = '';
				let checkresult = await this.checkVal(this.user_auth_info);
				if (checkresult === '') {
					this.setPassWord(this.user_auth_info);
					let result = await this.passwordUpdate();
					if ( result.data.result_cd === '001' ) {
						this.Message = 'パスワードを更新しました';
					} else {
						this.Message = result.data.message;
					}
				} else {
					this.Message = checkresult;
				}
			}
		},
		created() {
			this.Message = '';
		}
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	h3 {
		margin: 40px 0 0;
	}
	
	ul {
		list-style-type: none;
		padding: 0;
	}
	
	li {
		display: inline-block;
		margin: 0 10px;
	}
	
	a {
		color: #42b983;
	}
</style>
