<template>
	<div class="editUser">
		<v-container>
			<div v-if="AuthLoginFlg">
				<h4>ユーザー検索</h4>
				<v-row>
					<v-col>
						<v-text-field
							:label="search_info.user_id.label_name"
							v-model="search_info.user_id.data"
						></v-text-field>
					</v-col>
					<v-col>
						<v-text-field
							:label="search_info.user_name.label_name"
							v-model="search_info.user_name.data"
						></v-text-field>
					</v-col>
				</v-row>
				<p>{{ search_info.admin.label_name }}</p>
				<v-row justify="space-around">
					<v-checkbox
						v-for="n in check_list"
						:key="n.admin_name"
						:label="n.admin_name"
						:value="n.admin_value"
						v-model="search_info.admin.data"
					>
					</v-checkbox>
				</v-row>
				<v-btn
					style="margin-top: 30px;"
					color="#651FFF"
					dark
					block
					@click="onSearch()">
					検索
				</v-btn>
				<v-card
					style="margin-top: 30px;"
					class="mx-auto"
				>
					<v-toolbar
						color="indigo"
						dark
					>
						<v-toolbar-title>検索結果</v-toolbar-title>
					</v-toolbar>
					<v-container
						id="scroll-target"
						style="max-height: 255px; padding: 0;"
						class="overflow-y-auto"
					>
						<v-list v-scroll:#scroll-target>
							<v-list-item
								style="border-bottom: solid 1px navy;"
								v-for="index in searchResult"
								:key="index.user_id"
							>
								<v-list-item-content>
									<v-list-item-title >USER ID :  {{ index.user_id }}</v-list-item-title>
									<v-list-item-subtitle>USER NAME :  {{ index.user_name }}</v-list-item-subtitle>
									<v-list-item-subtitle>ADMIN :  {{ index.admin }}</v-list-item-subtitle>
								</v-list-item-content>
								<v-list-item-action>
									<v-btn class="error" @click="onDelete(index.user_id)">
										削除
									</v-btn>
								</v-list-item-action>
							</v-list-item>
						</v-list>
					</v-container>
				</v-card>
			</div>
			<div v-else>
				<h1 style="text-align: center; color: red;">UnAuthorized Page</h1>
			</div>
			
			<snack-message
				:snackMsg="Message"
			/>
		</v-container>
	</div>
</template>

<script>
	import { mapActions, mapState } from "vuex";
	import SnackMessage from "../common/SnackMessage";
	import ActionMixin from "../common/ActionMixin";
	export default {
		name: 'SearchUser',
		mixins: [ ActionMixin ],
		props: {
			msg: String
		},
		components: {
			SnackMessage
		},
		data () {
			return {
				search_info: {
					user_id: {
						label_name:'USER ID',
						data: ''
					},
					user_name: {
						label_name:'USER NAME',
						data: ''
					},
					admin: {
						label_name:'ADMIN',
						data: []
					}
				},
				check_list: [
					{ 'admin_name': 'A', 'admin_value': '0'},
					{ 'admin_name': 'B', 'admin_value': '1'},
					{ 'admin_name': 'C', 'admin_value': '2'},
					{ 'admin_name': 'D', 'admin_value': '3'}
				],
				searchResult: [],
				Message: '',
				del_count: 0,
				delete_user_id: ''
			}
		},
		computed: {
			...mapState('auth',[
				'login_info_param', 'AuthLoginFlg'
			])
		},
		methods: {
			...mapActions('user',[
				'setUserSearchParam', 'setUserDeleteParam', 'userSearch', 'userDelete'
			]),
			onSearch: async function () {
				await this.snackMsgInit();
				this.setUserSearchParam(this.search_info);
				let result = await this.userSearch();
				if (result.data.result_cd === '001') {
					console.log(result.data.data);
					this.searchResult = result.data.data;
					let tmp_list = [];
					for (let rec in result.data.data) {
						let tmp = {
							'user_id': '',
							'user_name': '',
							'admin': ''
						};
						for (let i in result.data.data[rec]) {
							if (i === 'admin') {
								let tmp_admin = '';
								switch (result.data.data[rec][i]) {
									case '0':
										tmp_admin = 'A';
										break;
									case '1':
										tmp_admin = 'B';
										break;
									case '2':
										tmp_admin = 'C';
										break;
									case '3':
										tmp_admin = 'D';
										break;
								}
								tmp[i] = tmp_admin;
							} else {
								tmp[i] = result.data.data[rec][i];
							}
						}
						tmp_list.push(tmp);
					}
					this.searchResult = tmp_list;
				} else {
					this.Message = result.data.message
				}
			},
			onDelete: async function (user_id) {
				await this.snackMsgInit();
				if (user_id === this.login_info_param.user_id) {
					this.Message = 'ログインしているユーザーは削除できません';
				} else {
					this.setUserDeleteParam(user_id);
					let result = await this.userDelete();
					if (result.data.result_cd === '001') {
						await this.onSearch();
						this.Message = '削除しました';
					} else {
						this.Message = result.data.message;
					}
				}
			},
			snackMsgInit: async function () {
				this.Message = ''
			}
		},
		created() {
			this.snackMsgInit();
			this.searchResult = [];
		}
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	h3 {
		margin: 40px 0 0;
	}
	
	ul {
		list-style-type: none;
		padding: 0;
	}
	
	li {
		display: inline-block;
		margin: 0 10px;
	}
	
	a {
		color: #42b983;
	}
</style>
