<template>
	<div class="addUser">
		<v-container>
			<h4>ユーザー登録</h4>
			<v-text-field
				:label="user_info.user_id.label_name"
				v-model="user_info.user_id.data"
			></v-text-field>
			<v-text-field
				:label="user_info.password1.label_name"
				v-model="user_info.password1.data"
			></v-text-field>
			<v-text-field
				:label="user_info.password2.label_name"
				v-model="user_info.password2.data"
			></v-text-field>
			<v-text-field
				:label="user_info.user_name.label_name"
				v-model="user_info.user_name.data"
			></v-text-field>
			<v-radio-group v-model="user_info.admin.data">
				<p>{{ user_info.admin.label_name }}</p>
				<v-radio
					v-for="n in radio_list"
					:key="n.admin_name"
					:label="`${n.admin_name}`"
					:value="n.admin_value"
				></v-radio>
			</v-radio-group>
			<v-btn
				color="#00695C"
				dark
				large
				@click="onUserAdd()">
				登録
			</v-btn>

			<snack-message
				:snackMsg="Message"
			/>
			<v-btn
				color="#00E676"
				dark
				@click="onHealthCheck()">
				ヘルスチェックボタン
			</v-btn>
		</v-container>
	</div>
</template>

<script>
	import {mapActions, mapState} from 'vuex'
	import ActionMixin from "../common/ActionMixin";
	import SnackMessage from "../common/SnackMessage";
	export default {
		name: 'UserAdd',
		components: {
			SnackMessage
		},
		mixins: [ ActionMixin ],
		props: {
			msg: String
		},
		data () {
			return {
				user_info: {
					user_id: {
						label_name:'USER ID',
						data: '',
						validate: {
							check_req: true
						}
					},
					password1: {
						label_name:'PASSWORD',
						data: '',
						validate: {
							check_req: true,
							check_equal: 'password2'
						}
					},
					password2: {
						label_name:'PASSWORD (Re-enter)',
						data: '',
						validate: {
							check_req: true
						}
					},
					user_name: {
						label_name:'USER NAME',
						data: '',
						validate: {
							check_req: true
						}
					},
					admin: {
						label_name:'ADMIN',
						data: '',
						validate: {
							check_req: true
						}
					}
				},
				radio_list: [
					{ 'admin_name': 'A', 'admin_value': '0'},
					{ 'admin_name': 'B', 'admin_value': '1'},
					{ 'admin_name': 'C', 'admin_value': '2'},
					{ 'admin_name': 'D', 'admin_value': '3'}
				],
				Message: ''
			}
		},
		computed: {
			...mapState('auth',[
				'AuthLoginFlg'
			])
		},
		methods: {
			...mapActions('user', [
				'setUserAddParam', 'userAdd', 'healthCheck'
			]),
			onUserAdd: async function () {
				this.snackMsgInit();
				let checkresult = await this.checkVal(this.user_info);
				console.log(checkresult);
				if (checkresult === '')  {
					await this.setUserAddParam(this.user_info);
					let result = await this.userAdd();
					if (result.data.result_cd === '001') {
						this.Message = '登録しました';
					} else {
						this.Message = result.data.message;
					}
				} else {
					this.Message = checkresult;
				}
			},
			snackMsgInit: async function () {
				this.Message = ''
			},
			onHealthCheck: async function () {
				await this.healthCheck();
			}
		},
		created() {
			this.snackMsgInit();
		}
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	h3 {
		margin: 40px 0 0;
	}
	
	ul {
		list-style-type: none;
		padding: 0;
	}
	
	li {
		display: inline-block;
		margin: 0 10px;
	}
	
	a {
		color: #42b983;
	}
</style>
