<template>
	<div class="editUser">
		<v-container>
			<div v-if="AuthLoginFlg">
				<h4>ユーザー更新</h4>
				<v-text-field
					:label="user_info.user_id.label_name"
					v-model="user_info.user_id.data"
					readonly
				></v-text-field>
				<v-text-field
					:label="user_info.user_name.label_name"
					v-model="user_info.user_name.data"
				></v-text-field>
				<v-radio-group v-model="user_info.admin.data">
					<p>{{ user_info.admin.label_name }}</p>
					<v-radio
						v-for="n in radio_list"
						:key="n.admin_name"
						:label="`${n.admin_name}`"
						:value="n.admin_value"
					></v-radio>
				</v-radio-group>
				<v-btn
					color="#00695C"
					dark
					large
					@click="onEdit()">
					更新
				</v-btn>
			</div>
			<div v-else>
				<h1 style="text-align: center; color: red;">UnAuthorized Page</h1>
			</div>

			<snack-message
				:snackMsg="Message"
			/>
		</v-container>
	</div>
</template>

<script>
	import { mapActions, mapState } from "vuex";
	import SnackMessage from "../common/SnackMessage";
	import ActionMixin from "../common/ActionMixin";
	export default {
		name: 'Home',
		mixins: [ ActionMixin ],
		props: {
			msg: String
		},
		components: {
			SnackMessage
		},
		data () {
			return {
				user_info: {
					user_id: {
						label_name:'USER ID  (Not renewable)',
						data: '',
						validate: {
							check_req: true
						}
					},
					user_name: {
						label_name:'USER NAME',
						data: '',
						validate: {
							check_req: true
						}
					},
					admin: {
						label_name:'ADMIN',
						data: '',
						validate: {
							check_req: true
						}
					}
				},
				radio_list: [
					{ 'admin_name': 'A', 'admin_value': '0'},
					{ 'admin_name': 'B', 'admin_value': '1'},
					{ 'admin_name': 'C', 'admin_value': '2'},
					{ 'admin_name': 'D', 'admin_value': '3'}
				],
				Message: ''
			}
		},
		computed: {
			...mapState('auth',[
				'login_info_param', 'AuthLoginFlg'
			]),
		},
		methods: {
			...mapActions('user',[
				'userUpdate', 'setUserAddParam'
			]),
			...mapActions('auth',[
				'changeLoginInfo'
			]),
			setLoginUserEdit: async function () {
				for ( let k in this.login_info_param) {
					if ( k !== 'password' ) {
						this.user_info[k].data = this.login_info_param[k];
					}
				}
			},
			onEdit: async function () {
				this.snackMsgInit();
				let checkresult = await this.checkVal(this.user_info);
				if (checkresult === '') {
					this.setUserAddParam(this.user_info);
					let result = await this.userUpdate();
					if (result.data.result_cd === '001') {
						this.Message = '更新しました';
						this.changeLoginInfo(this.user_info);
					} else {
						this.Message = result.data.message;
					}
				} else {
					this.Message = checkresult;
				}
			},
			snackMsgInit: async function () {
				this.Message = ''
			}
		},
		created() {
			this.snackMsgInit();
			this.setLoginUserEdit();
		}
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
	h3 {
		margin: 40px 0 0;
	}
	
	ul {
		list-style-type: none;
		padding: 0;
	}
	
	li {
		display: inline-block;
		margin: 0 10px;
	}
	
	a {
		color: #42b983;
	}
</style>
